<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adduser.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <title>Add User</title>

</head>
<body>
    <section id="interface">
        <!-- Add User Form -->
        <div class="add-user-form">
            <h2>Add User</h2>
            <form id="data-form">
                <label for="name">Name:</label>
                <input type="text" id="name-input" name="name"><br><br>
                
                <label for="email">Email:</label>
                <input type="email" id="email-input" name="email"><br><br>
                
                <label for="phone">Phone Number:</label>
                <input type="text" id="phone-input" name="phone"><br><br>
                
                <input type="submit" value="Submit">
            </form>
        </div>

        <!-- Include your script to handle form submission if needed -->
        <script src="adduser.js"></script>
    </section>
</body>
</html>
