<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <title>J&K Bank</title>
</head>
<body>
 
    <section id="menu">
        <div class="logo">
            <h1>logo</h1>
        </div>

        <div class="items">
            <li>Transaction</li>
            <li>Deposit</li>
            <li>Withdraw</li>
            <li>Transfer</li>
        </div>
    </section>


    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="far fa-bell"></i>
                <h1>Admin</h1>
            </div>
        </div>

        <h3 class="i-name">
            Dashboard
        </h3>

        <div class="values">
            <div class="val-box">
                <i class="fas fa-users"></i>
                <div>
                    <h3>2,132</h3>
                    <span>Total Users</span>
                </div>
            </div>

            <div class="val-box">
                <i class="fas fa-users"></i>
                <div>
                    <h3>2,142</h3>
                    <span>Total Deposit</span>
                </div>
            </div>

            <div class="val-box">
                <i class="fas fa-users"></i>
                <div>
                    <h3>2,132</h3>
                    <span>Total Withdraw</span>
                </div>
            </div>

            <div class="val-box">
                <i class="fas fa-users"></i>
                <div>
                    <h3>2,142</h3>
                    <span>Total Transfer</span>
                </div>
            </div>
        </div>



        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone Number</td>
                        <td>Total Cash</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="people">
                                <div class="people-de">
                                    <h5>John Doe</h5>
                                </div>
                        </td>
                        <td class="people-des">
                            <p>john@sample.com</p>
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>$421,512</p>
                        </td>
                        <td class="edit"><a href="#">View Profile</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                                <div class="people-de">
                                    <h5>John Doe</h5>
                                </div>
                        </td>
                        <td class="people-des">
                            <p>john@sample.com</p>
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>$421,512</p>
                        </td>
                        <td class="edit"><a href="#">View Profile</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                                <div class="people-de">
                                    <h5>John Doe</h5>
                                </div>
                        </td>
                        <td class="people-des">
                            <p>john@sample.com</p>
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>$421,512</p>
                        </td>
                        <td class="edit"><a href="#">View Profile</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                                <div class="people-de">
                                    <h5>John Doe</h5>
                                </div>
                        </td>
                        <td class="people-des">
                            <p>john@sample.com</p>
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>$421,512</p>
                        </td>
                        <td class="edit"><a href="#">View Profile</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                                <div class="people-de">
                                    <h5>John Doe</h5>
                                </div>
                        </td>
                        <td class="people-des">
                            <p>john@sample.com</p>
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>$421,512</p>
                        </td>
                        <td class="edit"><a href="#">View Profile</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                                <div class="people-de">
                                    <h5>John Doe</h5>
                                </div>
                        </td>
                        <td class="people-des">
                            <p>john@sample.com</p>
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>$421,512</p>
                        </td>
                        <td class="edit"><a href="#">View Profile</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                                <div class="people-de">
                                    <h5>John Doe</h5>
                                </div>
                        </td>
                        <td class="people-des">
                            <p>john@sample.com</p>
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>$421,512</p>
                        </td>
                        <td class="edit"><a href="#">View Profile</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                                <div class="people-de">
                                    <h5>John Doe</h5>
                                </div>
                        </td>
                        <td class="people-des">
                            <p>john@sample.com</p>
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>$421,512</p>
                        </td>
                        <td class="edit"><a href="#">View Profile</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                                <div class="people-de">
                                    <h5>John Doe</h5>
                                </div>
                        </td>
                        <td class="people-des">
                            <p>john@sample.com</p>
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>$421,512</p>
                        </td>
                        <td class="edit"><a href="#">View Profile</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                                <div class="people-de">
                                    <h5>John Doe</h5>
                                </div>
                        </td>
                        <td class="people-des">
                            <p>john@sample.com</p>
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>$421,512</p>
                        </td>
                        <td class="edit"><a href="#">View Profile</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                                <div class="people-de">
                                    <h5>John Doe</h5>
                                </div>
                        </td>
                        <td class="people-des">
                            <p>john@sample.com</p>
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>$421,512</p>
                        </td>
                        <td class="edit"><a href="#">View Profile</a></td>
                    </tr>

                    
                </tbody>
            </table>
        </div>
    </section>






















</body>
</html>