:root {
    --blue: #0070ba;
    --white: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth
}

section {
    padding: 2rem 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: whitesmoke;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header h1 {
    font-size: 30px;
}

.nav-button {
    display: flex;
    gap: 15px;
}

.loginButton {
    color: var(--blue);
    font-size: 15px;
    background: none;
    border: 1px solid var(--blue);
    border-radius: 60px;
    padding: 5px 0;
    width: 100px;
    box-shadow: none;
    cursor: pointer;
}


.signupButton {
    color: var(--white);
    background-color: var(--blue);
    font-size: 15px;
    border-radius: 60px;
    padding: 5px 0;
    width: 100px;
    box-shadow: none;
    cursor: pointer;
}