:root {
    --blue: #0070ba;
    --white: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

body {
    width: 100%;
    background: var(--white);
    position: relative;
    display: flex;
    background: #f5f7fa;
}

#interface {
    width: 100%;
    position: relative;
 
    
}

#interface .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    padding: 15px 30px;
    border-bottom: 3px solid var(--blue);
    width: 100%;
}

#interface .navigation .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}

#interface .navigation .search input {
 
    outline: none;
    font-size: 14px;
}

#interface .navigation .search i {
    margin-right: 14px;
}

#interface .navigation .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#interface .navigation .profile i {
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile h1 {
    font-size: 20px;
}

.i-name {
    color: var(--blue);
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
}


.container-balance {
    display: flex;
    margin: 30px;
    gap: 20px;
    padding: 2rem 4%;

}

.side-box {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    

}

.balance-box {
    background: white;
    height: 250px;
    width: 450px;
    border-radius: 0.75rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(15, 15, 20, 0.24) 0px 3px 8px;
    padding: 1.5rem;

}


.balance-box .balance {
    display: flex;
    justify-content: start;
    
}

.balance-box .balance h1 {
    font-size: 1.17em;
    font-weight: bold;
}

.balance-box .balance h2 {
    padding-top: 25px;
    font-size: 3.17em;
    font-weight: 400;
}


.balance-items {
    background: white;
    height: 580px;
    width: 450px;
    border-radius: 0.75rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(15, 15, 20, 0.24) 0px 3px 8px;
    padding: 1.5rem;

}

.balance-items .balance-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.balance-items .balance-button button {
    background:#F9A825 ;
    border-color: #F9A825;
    font-size: 20px;
    padding: 15px;
    border-radius: 0.75rem;
}

.budget-box {
    background: white;
    height: 850px;
    width: 100%;
    border-radius: 0.75rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(15, 15, 20, 0.24) 0px 3px 8px;
    

}


/* Budget App */

.wrapper {
    width: 90%;
    font-size: 16px;
    max-width: 43.75em;
    margin: 1em auto;
}

.container {
    width: 100%;
}

.sub-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper h3 {
    color: #363d55;
    font-weight: 500;
    margin-bottom: 0.6em;
}

.container input {
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #414a67;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
}

.container input:focus {
    border-color: #587ef4;
}

.total-amount-container,
.user-amount-container {
    background-color: #ffffff;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);

}

.output-container {
    background-color: #587ef4;
    color: #ffffff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    font-weight: 500;
    margin: 2em 0;
    padding: 1.2em;
}

.output-container p {
    font-weight: 500;
    margin-bottom: 0.6em;
}

.output-container span {
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
}

.submit {
    font-size: 1em;
    margin-top: 0.8em;
    background-color: #587ef4;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
}

.list {
    background-color: #ffffff;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    border-radius: 0.6em;
}

.sublist-content {
    width: 100%;
    border-left: 0.3em solid #587ef4;
    margin-bottom: 0.6em;
    padding: 0.5em 0;
}

.product {
    font-weight: 500;
    margin-left: 1.5em;
    color: #363d55;
}

.amount {
    color: #414a67;
    margin-left: 20%;
}

.icons-container {
    width: 5em;
    margin: 1.2em;
    align-items: center;
}

.product-title {
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.error {
    color: #ff465a;
}

.edit {
    margin-left: auto;
}


.edit,
.delete {
    background: transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #587ef4;
}
