<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main-user.css">
    <link rel="stylesheet" href="/components/modals/userModal.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> 
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/570d026863.js" crossorigin="anonymous"></script>
    <title>J&K Bank</title>
</head>
<body>
 



    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <h1>JBank</h1>
            </div>

            <div class="profile">
                <i class="far fa-bell"></i>
                <a href="/index.html">Logout</a>
            </div>
        </div>
        <h3 class="i-name">
            Dashboard
        </h3>

        <div class="container-balance">



            <div class="side-box">

                

                <div class="balance-box">
                    <h1>Available Balance</h1>
                    <div class="balance">
                        <h2 id="balanceAmount">$1000.00</h2>
                    </div>
                    <div class="card-name">
                        <a href="/components/card/card.html" target="_blank"><p>Create Virtual Card</p></a>
                    </div>
                </div>
                
                

                <div class="balance-items">

                    <div class="balance-button">
                        <button id="depositBtn">Deposit</button>
                        <button id="withdrawBtn">Withdraw</button>
                        <button id="transferBtn">Transfer</button>
                    </div>

                    <div class="user-transactions" id="user-transactions">
                        <h1>Transactions</h1>
                        <table>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody id="transaction-history">
                                <!-- Transaction rows will be dynamically added here -->
                            </tbody>
                        </table>
                    </div>







                </div>



      
    




             </div>

             
             <!-- Budget App -->

            <div class="budget-box">
                
                <div class="wrapper">
                    <h1>Budget App</h1>
                    <div class="container">
                        
                        <div class="sub-container">
                           
                            <div class="total-amount-container">
                                <h3>Budget</h3>
                                <p class="hide error" id="budget-error">Value cannot be empty or negative</p>
                                <input type="number" id="total-amount" placeholder="Enter Total Amount">
                                <button class="submit" id="total-amount-button">Set Budget</button>
                                <button class="submit"  id="clear-all-button">Clear All</button>
                            </div>

                            <div class="user-amount-container">
                                <h3>Expenses</h3>
                                <p class="hide error" id="product-title-error">Value cannot be empty or negative</p>
                                <input type="text" class="product-title" id="product-title" placeholder="Enter Title of Product">

                                <input type="number" id="user-amount" placeholder="Enter Cost of Product">
                                <button class="submit" id="check-amount">Check Amount</button>

                            </div>
                        </div>

                        <!-- Output -->
                        <div class="output-container flex-space">
                            <div>
                                <p>Total Budget</p>
                                <span id="amount">0</span>
                            </div>
                            <div>
                                <p>Expenses</p>
                                <span id="expenditure-value">0</span>
                            </div>
                            <div>
                                <p>Balance</p>
                                <span id="balance-amount">0</span>
                            </div>
                        </div>

                    </div>



                    <!-- List -->
                    <div class="list">
                        <h3>Expense List</h3>
                        <div class="list-container" id="list"></div>
                    </div>


                </div>

            </div> <!-- End of Budget Box   -->

            <div class="contacts-box">
                <div class="box">
                <h1>Contacts</h1>
                <i class="fas fa-user-plus clickable-icon" id="addContactIcon"></i>
            </div>

            <table id="contactsTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th> <!-- Add a new column for the delete icon -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Users will be added here -->
                    <tr>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>

            </div>

        </div>
       


        <div class="feature-header">
            <h1>FEATURES</h1>
        </div>
    <div class="feature">
        
       
        
            <div class="container-feature">
                
                <div class="feature-box">
                    <h1>Available Balance</h1>
                    <div class="balance">
                    <h2 id="balanceAmount">$1000.00</h2>
                    </div>
                    <div class="card-name">
                 </div>
            </div>

            <div class="feature-box">
            <h1>Available Balance</h1>
            <div class="balance">
            <h2 id="balanceAmount">$1000.00</h2>
            </div>
            <div class="card-name">
            </div>

            
            </div>


            <div class="feature-box">
            <h1>Available Balance</h1>
            <div class="balance">
            <h2 id="balanceAmount">$1000.00</h2>
            </div>
            <div class="card-name">
            </div>

    
    </div>

    
<!-- End of Main Content  -->

    </section>

 <script src="./js/budget.js"></script>
 <script src="./js/main-user.js"></script>
 <script src="./js/contacts.js"></script>
 <script src="./main-user.js"></script>
 <script src="../modals/userModal.js"></script>
 <script src="../modals/deposit.js"></script>
 <script src="../modals/withdraw.js"></script>
 <script src="../modals/transfer.js"></script>
</body>


</html>