<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main-user.css">
    <link rel="stylesheet" href="/components/modals/userModal.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/570d026863.js" crossorigin="anonymous"></script>
    <title>J&K Bank</title>
</head>
<body>
 
    <section id="menu">
        <div class="logo">
            <img src="avatar.png" alt="profile">
            <h1>Welcome back!</h1>
        </div>

        <div class="items" id="items">
            <a href="../transaction/transaction.html"><li>Transaction</li></a>
            <a href="../card/card.html"><li class="card">Create Virtual Card</li></a>
        </div>

        <button class="logout-btn" onclick="logout()">Log Out</button> 

    </section>


    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="far fa-bell"></i>
                <h1>Admin</h1>
            </div>
        </div>
        <h3 class="i-name">
            Dashboard
        </h3>

        <div class="container-balance">



            <div class="balance-box">
                <h1>J&K Balance</h1>
                <div class="balance">
                    <h2>$40.20</h2>
                </div>
                <p>Available</p>
        
                <button>Transfer Funds</button>

            </div>


            <div class="box">

            </div>
          
        </div>

        

 
    
       
  
    </section>



    




 <script src="./main-user.js"></script>
 <script src="../modals/userModal.js"></script>
 <script src="../modals/deposit.js"></script>
 <script src="../modals/withdraw.js"></script>
 <script src="../modals/transfer.js"></script>
</body>
</html>