<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../transaction/transaction.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>J&K Bank</title>
</head>
<body>
 
    <section id="menu">
        <div class="logo">
            <h1>logo</h1>
        </div>

        <div class="items" id="items">
           <a href="../main/main.html"> <li>Back</li></a>
        </div>

    </section>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="far fa-bell"></i>
                <h1>Admin</h1>
            </div>
        </div>

        <h3 class="i-name">
            Transactions
        </h3>

        
        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone Number</td>
                        <td>Total Deposit</td>
                        <td>Total Withdraw</td>
                        <td></td>
                    </tr>
                </thead>
                
                <tbody id="user-list">
                    <tr>
                        <td class="people">
                            <div class="name" id="name">
                                <h5></h5>
                            </div>
                        </td>
                        <td class="email" id="email">
                            <p></p>
                        </td>
                        <td class="phone" id="phone">
                            <p></p>
                        </td>

                        <td class="cash" id="cash">
                            <p></p>
                        </td>
                        <td class="edit"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

<script src="transaction.js"></script>
<script src="deposit.js"></script>
</body>