<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in to your account</title>
    <link rel="stylesheet" href="login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/570d026863.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="main-container">
    <a href="/index.html">
        J&K Bank
    </a>
    <form id="login-form">
        <div class="input-container">
        <input id="email" type="email" placeholder="" required>
        <label for="email">Email address</label>
        </div>
        <div class="input-container">
        <input id="password" type="password" placeholder="" required>
        <label for="password">Password</label>
        <i class="fa-regular fa-eye"></i>
        </div>
        <button type="submit" id="login-btn">LOG IN</button>
    </form>
    <span id="question"> Don't have an account yet?</span>
    <a href="./signup.html">
    <button id="signup-btn">Sign Up</button>
    </a>
</div>
<script src="login.js"></script>
</body>
</html>