<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/570d026863.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <a href="/index.html">
            <div id="logo">J&K Bank</div>
        </a>
        <a href="./login.html">
            <button id="login-btn">LOG IN</button>
        </a>
    </nav>
    <div id="signup-container">
        <div id="signup-text">
            <p>Your <span id="money">money</span>.</p>
            <p>Your control.</p>
            <span id="join-us">Join us!</span>
        </div>
        <form id="signup-form">
            <div class="input-container">
                <input id="full-name" type="text" placeholder="" required="required">
                <label for="Full Name">Full Name</label>
            </div>
            <div class="input-container">
                <input id="email" type="email" placeholder="" required="required">
                <label for="email">Email Address</label>
            </div>
            <div class="input-container">
                <input id="number" type="tel" pattern="[0-9]{12}" placeholder="" required="required" maxlength="12">
                <label for="Phone Number">Phone Number (12 digits)</label>
            </div>
            <div class="input-container">
                <input class="password-input" id="new-password" type="password" placeholder="" required="required">
                <label for="New Password">New Password</label>
            </div>
            <div class="input-container">
                <input class="password-input" id="retype-password" type="password" placeholder="" required="required">
                <label for="Retype Password">Retype Password</label>
                <i class="fa-regular fa-eye"></i>
            </div>
            <button type="submit" id="signup-btn">SIGN UP</button>
        </form>
        
    </div>
<script src="signup.js"></script>
</body>
</html>